/* Variables */

$font-header: 'Karla', sans-serif;
$font-text: 'Rubik', sans-serif;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px
}

body {
	margin: 0;
	line-height: 1.7;
	font-size: 16px;
	font-family: $font-text;
	color: #2c2c54;
}

section {
	padding: 0 60px;
}

/* Splash */

.splash {
	background-image: url('https://images.pexels.com/photos/3432775/pexels-photo-3432775.jpeg?cs=srgb&dl=moda-sztuka-ciemny-zegarek-3432775.jpg&fm=jpg');
	background-size: cover;
	backgrooud-attachment: fixed;
	background-position: right top;
	height: 100vh;
	position: relative;
	.navigation-brand {
		color: gold;
		font-family: 'Pacifico', cursive;
		font-size: 20px;
	}
	.navigation {
		text-align: right;
		.nav-list {
			margin: 27px 0;
		}
		.nav-list li {
			display: inline-block;
			margin: 0 24px 0 0;
			a {
				list-style-type: none;
				text-decoration: none;
				color: #ffffff
			}
		}
	}
	.splash-inner {
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		.splash-welcome {
			font-size: 30px;
			font-family: $font-text;
			font-style: italic;
		}
		.splash-nice {
			font-size: 48px;
			font-family: $font-header;
		}
		.btn {
			display: inline-block;
		    font-family: $font-text;
		    font-size: 16px;
		    text-align: center;
		    min-width: 160px;
		    margin: 24px auto 0 auto;
		    padding: 16px;
		    border-radius: 5%;
		    text-decoration: none;
		    cursor: pointer;
		    border: 2px solid gold;
		    color: gold;
		   	background-image: linear-gradient(45deg, gold 50%, transparent 50%);
		   	background-position: 100% 0%;
		   	background-size: 250%;
		   	transition: all 0.5s;
		   	&:hover {
		   		background-position: 0% 100%;
		   		color: black;
		   	}
		}
	}
}

